<div class="card">
    <div class="card-body">
        <div class="row mt-1" *ngFor="let dt of rows | keyvalue | paginate: { itemsPerPage: 1, currentPage: page, totalItems: totalItens }">
            <div class="col-12">
                <h5>{{dt.key | date: 'dd/MM/yyyy'}}</h5>
            </div>
            <div class="col-12">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th >Região</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Município</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Revenda</th>
                            <th scope="col">CNPJ</th>
                            <th scope="col" class="text-right">Vlr venda</th>
                            <th scope="col" class="text-right">Vlr compra</th>
                            <th scope="col">Un. de medida</th>
                            <th scope="col">Bandeira</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hist of dt.value">
                            <th scope="row">{{hist.id}}</th>
                            <td>{{hist.regiaoSigla}}</td>
                            <td>{{hist.estadoSigla}}</td>
                            <td>{{hist.municipio}}</td>
                            <td>{{hist.produto}}</td>
                            <td>{{hist.revenda}}</td>
                            <td>{{hist.cnpjRevenda}}</td>
                            <td class="text-right">{{hist.vlrVenda | number: '':'pt-BR' }}</td>
                            <td class="text-right">{{hist.vlrCompra | number: '':'pt-BR' }}</td>
                            <td>{{hist.unidadeMedida}}</td>
                            <td>{{hist.bandeira}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
        </div>
        <pagination-controls (pageChange)="page = $event;"></pagination-controls>
    </div>
</div>