<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Média de preço</h5>
            </div>
        </div>
        <hr/>
        <form>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="form-group col-12">
                        <label for="nome">Município</label>
                        <input type="text" class="form-control" id="nome" placeholder="Ex: Curitiba" [(ngModel)]="municipio" name="municipio">
                     </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-primary float-right" (click)="pesquisar()">
                            <i class="fa fa-search"></i> Pesquisar
                        </button>
                    </div>     
                </div>
                <div class="col-3"></div>
            </div>
          </form>

        <hr/>
        
        <div class="row mt-1">
            <div class="col-12">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Município</th>
                            <th scope="col">Produto</th>
                            <th scope="col" class="text-right">Média de preço (R$)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let media of rows | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalItens }">
                            <td>{{media.municipio}}</td>
                            <td>{{media.produto}}</td>
                            <td class="text-right">{{media.mediaPreco | number:'':'pt-BR'}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event;"></pagination-controls>
            </div>
        </div>
    </div>
</div>