<div class="card">
    <div class="card-header">
        <h5>Novo Histórico de combustível</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row">
                <div class="form-group col-3">
                    <label for="dtColeta">Data coleta</label>
                    <input type="date" class="form-control" id="dtColeta" formControlName="dtColeta" name="dtColeta" [value]="historico.dtColeta | date:'yyyy-MM-dd':'UTC-3'" 
                    (ngModelChange)="historico.dtColeta = $event">
                </div>
                <div class="form-group col-2">
                    <label for="regiao">Região - Sigla</label>
                    <input type="text" maxlength="2" class="form-control" id="regiao" placeholder="Ex: CO" formControlName="regiaoSigla" name="regiaoSigla">
                  </div>
                  <div class="form-group col-2">
                    <label for="estado">Estado - Sigla</label>
                    <input type="text" maxlength="2" class="form-control" id="estado" placeholder="Ex: PR" formControlName="estadoSigla" name="estadoSigla">
                  </div>
                  <div class="form-group col-5">
                    <label for="municipio">Município</label>
                    <input type="text" class="form-control" id="municipio" placeholder="Ex: CO" formControlName="municipio" name="municipio">
                  </div>
            </div>
            <div class="row">
                  <div class="form-group col-6">
                    <label for="revenda">Revenda</label>
                    <input type="text" class="form-control" id="revenda" formControlName="revenda" name="revenda">
                  </div>
                  <div class="form-group col-3">
                    <label for="cnpjRevenda">CNPJ - Revenda</label>
                    <input type="text" class="form-control" id="cnpjRevenda" formControlName="cnpjRevenda" name="cnpjRevenda">
                  </div>
                  <div class="form-group col-3">
                    <label for="bandeira">Bandeira</label>
                    <input type="text" class="form-control" id="bandeira" formControlName="bandeira" name="bandeira">
                  </div>
            </div>
            <div class="row">
                <div class="form-group col-3">
                  <label for="produto">Produto</label>
                  <input type="text" class="form-control" id="produto" formControlName="produto" name="produto">
                </div>
                <div class="form-group col-3">
                  <label for="vlrCompra">Valor de compra (R$)</label>
                  <input type="text" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 3 }" class="form-control" id="vlrCompra" formControlName="vlrCompra" name="vlrCompra">
                </div>
                <div class="form-group col-3">
                  <label for="vlrVenda">Valor de venda (R$)</label>
                  <input type="text" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 3 }" class="form-control" id="vlrVenda" formControlName="vlrVenda" name="vlrVenda">
                </div>
                <div class="form-group col-3">
                  <label for="unidadeMedida">Un. de medida</label>
                  <input type="text" class="form-control" id="unidadeMedida" formControlName="unidadeMedida" name="unidadeMedida">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success float-right" [disabled]="form.invalid">
                        <i class="fa fa-save"></i> Gravar
                    </button>
                </div>                
            </div>
          </form>
    </div>
  </div>