<div class="row mb-1">
    <div class="col-12">
        <a class="btn btn-success text-white" routerLink="/historico-combustiveis/new" >
            <i class="fa fa-plus"></i> Novo Histórico
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link pointer" (click)="setTabActive('pesquisa')" >Pesquisa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setTabActive('mediaPreco')">Média de preço</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setTabActive('valores')">Valores Compra/Venda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="setTabActive('distribuidora')">Agrupados por Distribuidora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="setTabActive('dtColeta')">Agrupados por data de coleta</a>
            </li>
          </ul>
    </div>
    <div class="col-12" *ngIf="tabActive == 'pesquisa'">
        
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h5>Pesquisa</h5>
                    </div>
                </div>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="form-group col-12">
                                <label for="nome">Sigla da região</label>
                                <input type="text" class="form-control" id="nome" placeholder="Ex: CO" [(ngModel)]="sigla" name="sigla">
                             </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-primary float-right" (click)="pesquisar()">
                                    <i class="fa fa-search"></i> Pesquisar
                                </button>
                            </div>     
                        </div>
                        <div class="col-4"></div>
                    </div>
                  </form>

                <hr/>
                
                <div class="row mt-1">
                    <div class="col-12">
                        <table class="table table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th >Região</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Município</th>
                                    <th scope="col">Revenda</th>
                                    <th scope="col">CNPJ</th>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Dt. coleta</th>
                                    <th scope="col" class="text-right">Vlr venda</th>
                                    <th scope="col" class="text-right">Vlr compra</th>
                                    <th scope="col">Un. de medida</th>
                                    <th scope="col">Bandeira</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hist of rows | paginate: { itemsPerPage: 20, currentPage: page+1, totalItems: totalItens }">
                                    <th scope="row">{{hist.id}}</th>
                                    <td>{{hist.regiaoSigla}}</td>
                                    <td>{{hist.estadoSigla}}</td>
                                    <td>{{hist.municipio}}</td>
                                    <td>{{hist.revenda}}</td>
                                    <td>{{hist.cnpjRevenda}}</td>
                                    <td>{{hist.produto}}</td>
                                    <td>{{hist.dtColeta | date: 'dd/MM/yyyy'}}</td>
                                    <td class="text-right" >{{hist.vlrVenda | number: '':'pt-BR' }}</td>
                                    <td class="text-right">{{hist.vlrCompra | number: '':'pt-BR' }}</td>
                                    <td>{{hist.unidadeMedida}}</td>
                                    <td>{{hist.bandeira}}</td>
                                    <th><a (click)="edit(hist.id);"><i class="fa fa-pencil text-primary"></i></a></th>
                                    <th><a (click)="remove(hist.id);"><i class="fa fa-trash text-danger"></i></a></th>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event; pesquisar();"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="tabActive == 'mediaPreco'">
        <hist-comb-media-preco></hist-comb-media-preco>
    </div>
    <div class="col-12" *ngIf="tabActive == 'valores'">
        <hist-comb-valores></hist-comb-valores>
    </div>
    <div class="col-12" *ngIf="tabActive == 'distribuidora'">
        <hist-comb-distribuidora></hist-comb-distribuidora>
    </div>
    <div class="col-12" *ngIf="tabActive == 'dtColeta'">
        <hist-comb-data-coleta></hist-comb-data-coleta>
    </div>
</div>

