<div class="card">
    <div class="card-header">
        <h5>Novo Usuário</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row">
                <div class="form-group col-6">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" required id="nome" placeholder="Nome" formControlName="nome" name="nome">
                  </div>
                  <div class="form-group col-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" required id="email" placeholder="Email" formControlName="email" name="email">
                  </div>
            </div>
            <div class="row" *ngIf="!editing">
                <div class="form-group col-6">
                    <label for="nome">Senha</label>
                    <input type="password" class="form-control" required id="senha" formControlName="senha" name="senha">
                  </div>
                  <div class="form-group col-6">
                    <label for="email">Confirme a senha</label>
                    <input type="password" class="form-control" required id="confSenha" formControlName="confSenha" name="confSenha">
                  </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success float-right" [disabled]="form.invalid">
                        <i class="fa fa-save"></i> Gravar
                    </button>
                </div>                
            </div>
          </form>
    </div>
  </div>